<nav  class="navbar navbar-expand-md navbar-dark bg-white" style="background-image: linear-gradient(to bottom, red , yellow);margin-bottom: 15px; border-radius: 25px;">
<div class="container">
  <img src="/images/logo.PNG" style="width: auto; height: auto; margin-top: auto;margin-bottom: auto; margin-left: auto; margin-right: auto;"></img>
<a href="/signin">Signin <i class="fa fa-sign-in"></i></a>
<a href="/signup">Signup <i class="fa fa-pencil"></i></a>

</div>
</nav>
<h1 style="font: italic bold 36px/60px Georgia, serif;"><center>Employee Management System</center></h1>